html,
body,
#valign-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#valign-container {
  display: table;
}
#valign-container-cell {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
#break-title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30%;
  text-align: center;
}
#time-bar {
  margin-bottom: 7px;
}
#small-time {
  text-align: center;
  font-size: 12px;
}
#end-time {
  margin-left: 450px;
}
#time-progress {
  width: 475px;
  margin: auto;
}
#time-progress #time-progress-bar {
  width: 0%;
  height: 4px;
}
