#time {
  font-size: 60px;
  margin: 0;
  text-align: center;
}
#time.duration {
  font-size: 40px;
}
#buttons {
  margin-bottom: 20px;
  text-align: center;
}
#buttons #pauseButton {
  width: 138px;
}
#buttons button {
  font-size: 16px;
  margin: 0 5px;
}
.sliderHeader {
  margin-right: 12px;
}
#settings {
  display: none;
  margin: 0px 15px;
}
#settings .settings-range {
  margin-bottom: 5px;
}
.timeContainer {
  height: 113px;
  margin-top: 40px;
}
.checkboxText {
  display: inline-block;
  margin-left: 5px;
  height: 24px;
  vertical-align: middle;
}
.togglebutton {
  height: 25px;
  margin-bottom: 4px;
}
.togglebutton label {
  vertical-align: middle;
}
.toggle {
  float: right;
}
.paused {
  color: #a8a8a8;
}
.dropdown-options {
  position: relative;
  display: inline-block;
}
.dropdown-options .dropdown-options-menu {
  position: absolute;
  bottom: 100%;
  display: none;
  margin: 0;
  /****************
   ** NEW STYLES **
   ****************/
  list-style: none;
  /** Remove list bullets */
  width: 100%;
  /** Set the width to 100% of it's parent */
  padding: 0;
}
.dropdown-options:hover .dropdown-options-menu {
  display: block;
}
.dropdown-options a {
  display: block;
  margin: 0;
  height: 23px;
  line-height: 23px;
  padding: 0;
}
.lever-right {
  float: right;
}
.switch {
  margin: 10px 0px;
}
