//
   Created by dhnishi on 4/7/15.

doctype html
html
   head(lang='en')
      meta(charset="UTF-8")
      title pause - Work/Break Timer
      link(rel='stylesheet', href='components/bootstrap-material-design/dist/css/material.css')
      link(rel='stylesheet', href='css/style.css')
      script(src='components/jquery/dist/jquery.js')
      script(src='components/bootstrap-material-design/dist/js/material.js')
      script(src='components/bootstrap-material-design/dist/js/ripples.js')
      script(src='components/moment/moment.js')
      script(src='scripts/pomodimer.js')
      script(src='scripts/disruptor.js')
   body
      center
      h1#break-title Time for a pause.
      h4#small-time ...
      div#buttons
         button.btn.btn-default.btn-flat#skip-break Begin Work Early
         button.btn.btn-default.btn-flat#take-five Postpone 5 Minutes
         button.btn.btn-default.btn-flat#take-ten Postpone 10 Minutes