doctype html
html
    head(lang='en')
        meta(charset="UTF-8")
        title pause - Work/Break Timer
        link(rel='stylesheet', href='/components/materialize/dist/css/materialize.css')
        link(rel='stylesheet', href='css/style.css')
        script(src='components/jquery/dist/jquery.js')
        script(src='components/materialize/dist/js/materialize.js')
        script(src='components/moment/moment.js')
        script(src='scripts/TimerHelpers.js')
        script(src='scripts/PauseTimer.js')
        script(src='scripts/window.js')
    body
        div.timeContainer
            h1#time No Alarm Set
        div#buttons
            div.dropdown-options
                button.btn.waves-effect.waves-light#startNow Begin Work Early
                ul.dropdown-options-menu#startDropdown
                    li
                        a.btn.waves-effect.waves-light#restartNow Restart Break Countdown
            div.dropdown-options
                button.btn.waves-effect.waves-light#pauseButton Pause
                ul.dropdown-options-menu#pauseDropdown
                    li
                        a.btn.waves-effect.waves-light#pause1 Pause for 1 hour
                    li
                        a.btn.waves-effect.waves-light#pause2 Pause for 2 hours
                    li
                        a.btn.waves-effect.waves-light#pause4 Pause for 4 hours
                    li
                        a.btn.waves-effect.waves-light#pause8 Pause for 8 hours
                    li
                        a.btn.waves-effect.waves-light#pause24 Pause for 24 hours
            button.btn.waves-effect.waves-light#openSettings
                i.mdi-action-settings
        div.card#settings
            div
                form
                    span.sliderHeader Focus Time:
                    span#workMinutes 25 minutes
                    p.range-field
                        input#work-slider.settings-range(type="range")
                    span.sliderHeader Break Time:
                    span#breakMinutes 5 minutes
                    p.range-field
                        input#break-slider.settings-range(type="range")
            div.switch.switch-space
                label Remind me about alarms when closing.
                    input#remindAlarmsCheckbox(type="checkbox")
                    span.lever.lever-right
            div.switch.switch-space
                label Clear alarms when closing.
                    input#clearAlarmsCheckbox(type="checkbox")
                    span.lever.lever-right
            div.switch.switch-space
                label Show a full-screen window during break time.
                    input#showDisruptorCheckbox(type="checkbox")
                    span.lever.lever-right

